* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
  }
/* scrollbar none */
  /* ::-webkit-scrollbar {
    display: none;
  } */

/* codigo para aliniamiento horizontal */
/* #wrapper {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  } */


 .module{
    height: 800px;
  }

  /* textos base */
.one h1, h5,b,span{ font-weight: 200; font-size: 35px; color: #03257A;}
.one h5{font-size: 18px; padding-left: 80px;}
.one b{font-weight: 600;}
.one span{color: #23DA94;}

.titulo{
  display: inline-block;
  padding-left: calc(50% - 250px);
}
.principal p{
  text-align: end;
  display: inline-block;
  width: 600px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  margin: 0;
  margin-top: 20px;
  padding-left: 215px;
  padding-right: 85px; 
}

.one .infografia{
  display: flex;
  align-items: center;
}

.one .infografia .date {margin-left: 40px;}
.one .infografia .date button {
  width: 25px;
  height: 25px;
  background-color: #03257A;
  border: none;
  color: #23DA94;
  font-weight: 100;
  line-height: 0;
  font-size: 4rem;
}


/* .one .infografia .date{margin-left: 90px;} */

/* .date a{
  text-decoration: none;
  background-color: #03257A;
  color: #23DA94;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 2.2em;
} */
